---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getPerlas } from "../db/perlas";

// Obtener todas las perlas al cargar la página
const perlas = await getPerlas();
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />

    <main>
      {
        perlas.length > 0 ? (
          <div>
            {perlas.map((perla) => (
              <div>
                <strong>
                  {perla.libro} {perla.capitulo}{perla.versiculos == 0 ? "" : ":" + perla.versiculos}
                </strong>
                <br />
                {perla.perla}
                <br />
                <strong>{perla.referencia}</strong> 
              </div>
              <hr>
            ))}
          </div>
        ) : (
          <p>No se encontraron perlas.</p>
        )
      }
    </main>
    <Footer />
  </body>
</html>
